/* ======== last releases ======== */

.carousel{
  margin-bottom: 2rem;
  padding: 0 0 1.5rem 0;
  background: var(--grey-background);
}

.title-carousel{
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--purple-text);
  background: var(--background);
}

.swiper{
  margin-bottom: 2rem;
}

.swiper-slide img{
  box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.25);
  width: 100%;
}

.swiper-button-prev, .swiper-button-next{
  display: none;
}

.swiper-pagination{
  position: initial;
  margin-top: .7rem;
}

.card{
  margin-inline: 2rem;
  background: var(--dark-background);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.25);
}

.description-card{
  display: flex;
  align-items: flex-start;
  color: var(--white-text);
  margin-bottom: 1rem;
}

.description > *{
  margin-bottom: .8rem;
}

.title-description{
  font-size: 1.4rem;
}

.title-book-description{
  font-size: 1.6rem;
}

.text-book-description{
  font-size: 1.4rem;
}

.description-card img{
  width: 40%;
  margin-left: .8rem;
  border-radius: 1rem;
}

.description-card span > img{
  margin: 0;
}

.buttons-card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.buttons{
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  list-style: none;
}

.buttons button{
  background: none;
  border: none;
}

.buttons img{
  width: 100%;
}

.buttons-card a > button{
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  border: none;
  background: var(--background);
  color: var(--purple-text);
  font-weight: bold;
}


@media screen and (min-width: 900px){
  .carousel{
    padding-bottom: 4rem;
  }

  .title-carousel{
    font-size: 2.6rem;
  }

  .swiper{
    width: 60%;
    margin-top: 2rem;
  }

  .swiper-button-next, .swiper-button-prev{
    display: block;
  }

  .card{
    margin-inline: 20rem;
  }

  .title-description{
    font-size: 1.6rem;
  }
  
  .title-book-description{
    font-size: 1.8rem;
  }
  
  .text-book-description{
    font-size: 1.6rem;
  }

  .buttons-card a > button{
    padding-inline: 3.4rem;
  }
}