@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --background: #fff;
  --grey-background: #EBECEE;
  --banner-backgroun: linear-gradient(180deg, #23232e 15.49%, #5b5b77 165.37%);
  --dark-background: #23232e;
  --purple: #23232e;
  --white-text: #fff;
  --purple-text: #23232e;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color:var(--white-text);
}

section{
  position: relative;
  top: 10vh;
}

/* ======== Header Design ======== */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 999;
  padding: 1rem 2rem;
  position: fixed;
  background: var(--dark-background);
}

#logo {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

#nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.btn-nav {
  background: none;
  border: none;
}

.btn-nav img {
  width: 2.5rem;
}

#btn-mobile {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
}

#hamburguer {
  width: 2rem;
  border-top: 2px solid #fff;
  color: #fff;
}

#hamburguer::before,
#hamburguer::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 0.5rem;
  transition: 0.6s;
}

#nav.active #hamburguer {
  border-top-color: transparent;
}

#nav.active #hamburguer::before {
  transform: rotate(135deg);
}

#nav.active #hamburguer::after {
  position: relative;
  top: -0.7rem;
  transform: rotate(-135deg);
}

#menu {
  display: block;
  width: 0vw;
  height: 0;

  position: absolute;
  top: 10vh;
  right: 0;
  z-index: 1000;

  list-style: none;
  text-align: center;
  background: #23232e;
  color: var(--nav-text-link);
  transition: 0.6s;
  overflow-x: hidden;
  visibility: hidden;
}

#nav.active #menu {
  width: 100vw;
  height: calc(100vh - 10vh);
  overflow-x: auto;
  visibility: visible;
}

#menu a {
  display: block;
  padding: 3rem 1rem;
  border-bottom: 1px solid #383849;
  font-weight: 400;
  font-size: 1.6rem;
}

#menu a:hover {
  background: #383849;
  font-weight: 600;
}

/* ======== Banner Design ======== */

.initial-banner {
  background: var(--banner-backgroun);
  color: var(--white-text);
  text-align: center;
  padding: 3.2rem 2rem;
  margin-bottom: 2rem;
}

.initial-banner .title-banner{
  font-size: 1.8rem;
  margin-bottom: .8rem;
}

.initial-banner .text-banner{
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.initial-banner .inpt-search{
  background: none;
  border: 1px solid #fff;
  color: var(--white-text);
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
}

.inpt-search::placeholder{
  font-size: 1.4rem;
  text-align: center;
  color: var(--white-text);
  background: url(/img/Search-icon.svg) no-repeat;
  background-position: 1.4rem;
}

/* ======== last releases ======== */

.carousel{
  margin-bottom: 2rem;
  padding: 0 0 1.5rem 0;
  background: var(--grey-background);
}

.title-carousel{
  margin-bottom: .8rem;
  padding-bottom: .8rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--purple-text);
  background: var(--background);
}

.swiper{
  margin-bottom: 2rem;
}

.swiper-slide img{
  box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.25);
  width: 100%;
}

.swiper-button-prev, .swiper-button-next{
  display: none;
}

.swiper-pagination{
  position: initial;
  margin-top: .7rem;
}

.card{
  margin-inline: 2rem;
  background: var(--dark-background);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.25);
}

.description-card{
  display: flex;
  align-items: flex-start;
  color: var(--white-text);
  margin-bottom: 1rem;
}

.description > *{
  margin-bottom: .8rem;
}

.title-description{
  font-size: 1.4rem;
}

.title-book-description{
  font-size: 1.6rem;
}

.text-book-description{
  font-size: 1.4rem;
}

.description-card img{
  width: 40%;
  margin-left: .8rem;
  border-radius: 1rem;
}

.description-card span > img{
  margin: 0;
}

.buttons-card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.buttons{
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  list-style: none;
}

.buttons button{
  background: none;
  border: none;
}

.buttons img{
  width: 100%;
}

.buttons-card a > button{
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  border: none;
  background: var(--background);
  color: var(--purple-text);
  font-weight: bold;
}

/* ======== Best sellers ======== */

.best-sellers{
  padding: 0 0 1.5rem 0;
  background: var(--grey-background);
}

/* ======== Best sellers ======== */
.topics{
  background: var(--banner-backgroun);
  padding: 2.4rem 1.6rem;
  text-align: center;
}

.title-topics{
  font-weight: 300;
  color: var(--white-text);
  margin-bottom: 3.2rem;
}

.list-topics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  list-style: none;

  gap: 1.6rem;
}

.item-topics{
  background: var(--background);
  padding: .6rem 1.4rem;
  border-radius: .6rem;
  
}

.link-topics{
  color: var(--purple-text);
  font-size: 1.4rem;
  font-weight: 700;
}

/* ======== Contact ======== */

.contact{
  padding: 3.2rem 2rem;
}

.title-contact{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--purple-text);
  margin-bottom: .8rem;
}

.text-contact{
  font-weight: 300;
  color: var(--purple-text);
  margin-bottom: 2.4rem;
}

.inpt-email{
  background: none;
  border: 1px solid #23232e;
  color: var(--purple-text);
  border-radius: 2.4rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
}

.inpt-email::placeholder{
  font-weight: 400;
  padding-left: 4.4rem;
  text-align: left;
  color: var(--purple-text);
  background: url(/img/email-icon.svg) no-repeat;
  background-position: 1.4rem;
}

footer{
  position: relative;
  top: 10vh;
  border-top: 2px solid var(--purple);
  padding: 1.8rem;
  background: var(--grey-background);
}